name: Efteling simulator pipeline
run-name: Testing and building pipeline after code changes by ${{ github.actor }}.
on: [push]
permissions:
  contents: read
  pull-requests: write
jobs:
  Park:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install Java and Maven
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
      - run: mvn -f common/pom.xml clean compile test package install
      - run: mvn -f park/pom.xml clean compile test package
  Fairy-Tales:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install Java and Maven
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
      - run: mvn -f common/pom.xml clean compile test package install
      - run: mvn -f fairy-tales/pom.xml clean compile test package
  Rides:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install Java and Maven
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
      - run: mvn -f common/pom.xml clean compile test package install
      - run: mvn -f rides/pom.xml clean compile test package
  Stands:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install Java and Maven
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
      - run: mvn -f common/pom.xml clean compile test package install
      - run: mvn -f stands/pom.xml clean compile test package
  Visitors:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install Java and Maven
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
      - run: mvn -f common/pom.xml clean compile test package install
      - run: mvn -f visitors/pom.xml clean compile test package
